body {
    background-color: #02848E;

    nav.top {
        display: flex;
        justify-content: end;
        background-color: ;

        a {
            border: solid red 1px;
            border-radius: 5px;
            display: flex;

            .LearnMore {

            }

            .AboutUs {

            }
        
        }
         
        
            
    }





    img {
        width: 298px;
        height: 302px;
        background-color: #02848E;  
    }

  }