@background-color: @color-Dark-Cyan;
@background-color-straw: @color-straw;
@background-color-orange: @color-orange;
@background-color-BlueNCS: @color-BlueNCS;
@background-color-SeaBlue: @color-SeaBlue;

// Color Vars
@color-Dark-Cyan: #02848e;
@color-straw: #a4bf52;
@color-orange: #eca400;
@color-BlueNCS: #0582ca;
@color-SeaBlue: #006494;

// Mobile var
@phone: ~"(max-width:500px)";
@tablet: ~"(max-width:800px)";
